/app.py
/appSentimentAnalysis.py
/Dataset
/MLA-Danh-gia.pdf
/sentiment
/sentiment.py
/SentimentAnalysis.ipynb
/Sentiment_Analysics.pptx
/Slide-Text-to-image.pptx
/spam.pkl
/Tiểu luận cuối kỳ - Machine Learning.docx
/TSP_CMC_33190.pdf
/Tổng hợp link bài báo (1).xlsx
/Tổng hợp link bài báo.xlsx
/Untitled-1.ipynb
/Week2
/Week3
/Week4
/Week5
/Week6
/Week7
/~$Sentiment_Analysics.pptx
/~$Slide-Text-to-image.pptx